.header1 {
    width: 600px;
    height: 60px;
    background-color: #3399ff;
    float: left;    
}
.moz {
    width: 45px;
    height: 60px;
    float: left;
}

.tit {
    width: 555px;
    height: 60px;
    float: left;
    padding-top: 18px;
}

.m1, .m2, .m3, .m4, .m5, .m6 {
    width: 15px;
    height: 15px;
    float: left;
}

.m1 {
    background-color: #3ff;
}
.m2 {
    background-color: #3cf;
}
.m3 {
    background-color: #39f;
}
.m4 {
    background-color: #36f;
}
.m5 {
    background-color: #33f;
}
.m6 {
    background-color: #30f;
}

.tit {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 24px;
    position: relative;
    left: 20px;
}

.block-left {
    width:240px;
    float:left;
    position: relative;
    left: 20px;
    padding-top: 10px;    
}

.block-right {
    width:360px;
    float:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:#cc0000;
    font-size: 18px;
    position: relative;
    padding-top: 10px;
}

hr {
    background-color: olive;
    height: 2px;
}

.header2 {
    width: 360px;
    height: 20px;
    background-color: #3399ff;
    float: left;
}

.lin {
    width: 360px;
    height: 5px;
    background-color: #336699;
    float: left;
}

.tit2 {
    font-family: Times, 'Times New Roman', serif;
    color: white;
    font-size: 12px;
    position: relative;
    left: 6px;
}

.tit3 {
    font-family: Times, 'Times New Roman', serif;
    color:#3399ff;
    font-size: 12px;
    position: relative;
    font-weight: bold;
    display:inline;   
}
  
.osn {
    font-family: Times, 'Times New Roman', serif;
    color:#666666;
    position: relative;
    font-size: 12px;
    left: 15px;
    font-weight: lighter;
}

.block-left2 {
    width:210px;
    float:left;
    position: relative;       
}

.block-right2 {
    width:150px;
    float:left;      
    position: relative;    
}

.inf {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#336699;
    position: relative;
    font-size: 12px;
    font-weight: lighter;
}